<div class="users3 screen " data-id="15:173"><img class="rectangle-1-4RbmSr" data-id="15:174"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/rectangle-1.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/rectangle-1.png"
    alt="Rectangle 1"><a href="menu"><img class="mask-group-4-4RbmSr" data-id="15:202"
      src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-4@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-4@2x.png"
      alt="Mask Group 4"></a><img class="mask-group-6-4RbmSr" data-id="15:207"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-6@2x.png"
    alt="Mask Group 6"><img class="mask-group-7-4RbmSr" data-id="15:204"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8-4RbmSr" data-id="15:206"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-8@2x.png"
    alt="Mask Group 8"><img class="create_step6-2-4RbmSr" data-id="15:190"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/create-step6--2-@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/create-step6--2-@2x.png"
    alt="create_step6 (2)">
  <div class="group-30-4RbmSr" data-id="15:208">
    <div class="rectangle-133-G3lAup" data-id="15:191"></div>
    <h1 class="text_label-G3lAup text_label" data-id="15:192">แจ้งเตือนการแต่งกาย</h1>
  </div>
  <div class="rectangle-134-4RbmSr" data-id="15:193"></div>
  <div class="text_label-4RbmSr text_label" data-id="15:194">แอดมิน</div>
  <div class="rectangle-135-4RbmSr" data-id="15:195"></div>
  <div class="text_label-xissjh text_label inter-normal-white-20px" data-id="15:196">ปานกลาง</div><a href="users4">
    <div class="group-35-4RbmSr" data-id="15:211">
      <div class="group-32-X4qSrL" data-id="15:210">
        <div class="group-31-lKridC" data-id="15:209">
          <div class="rectangle-136-DQ4xF8" data-id="15:197"></div>
        </div>
        <div class="pdf-lKridC" data-id="15:198">ขอแจ้งเตือนการแต่งกาย.pdf</div>
      </div>
    </div>
  </a>
  <div class="rectangle-145-4RbmSr" data-id="15:199"></div>
  <div class="rectangle-146-4RbmSr" data-id="15:200"></div>
</div>
