<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="home">หน้าหลัก</a>
  <a href="#"><i class="fas fa-comment-medical fa-lg mr-2"></i>คลังเอกสาร</a>
  <a href="#">เอกสารเวียนทราบ</a>
  <a href="#">เอกสารส่งออก</a>
  <a href="#">เอกสารขออนุมัติ</a>
  <a href="admin1">สั่งการ/เวียนทราบ</a>
  <a href="#">รายงานการใช้กระดาษ</a>
  <a href="#">ตั้งค่าผู้ใช้งาน</a>
  <a href=".">ออกจากระบบ</a>
</div>
<div class="admin4 screen " data-id="10:769"><img class="rectangle-1-2DJ5pB" data-id="10:770"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-4.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-4.png"
    alt="Rectangle 1">
  <img (click)="openNav()" class="mask-group-4-2DJ5pB" data-id="10:789"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-7-2DJ5pB" data-id="10:791"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="icon-mail-2DJ5pB" data-id="10:793"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="icon-mail"><img class="icon-notifications-2DJ5pB" data-id="10:794"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="icon-notifications"><img class="image-2DJ5pB" data-id="10:785"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/-----------1.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/-----------1.png"
    alt="image"><a href="admin3">
    <!-- <div class="rectangle-106-2DJ5pB" data-id="10:786" style="height: 50px;"></div> -->

    <h1 class="title-2DJ5pB" data-id="10:787" style="left:180px">BACK</h1>
  </a>
</div>
