<div class="users4 screen " data-id="15:312"><a href="home"><img class="rectangle-1-B7zLIg" data-id="15:313"
      src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/rectangle-1.png"
      anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/rectangle-1.png"
      alt="Rectangle 1"></a><a href="menu"><img class="mask-group-4-B7zLIg" data-id="15:334"
      src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-4@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-4@2x.png"
      alt="Mask Group 4"></a><img class="mask-group-6-B7zLIg" data-id="15:339"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-6@2x.png"
    alt="Mask Group 6"><img class="mask-group-7-B7zLIg" data-id="15:336"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8-B7zLIg" data-id="15:338"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-8@2x.png"
    alt="Mask Group 8">
  <h1 class="text_label-B7zLIg text_label inter-normal-romance-28px" data-id="15:329">รายการส่งเอกสารและผู้รับ</h1><a
    href="users5">
    <div class="group-48-B7zLIg" data-id="15:340">
      <div class="rectangle-120-J5eHaZ" data-id="15:330"></div>
      <div class="text_label-J5eHaZ text_label" data-id="15:331">รับทราบ</div>
    </div>
  </a><img class="image-B7zLIg" data-id="15:332"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/----------.png"
    anima-src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/----------.png"
    alt="image">
</div>
