<div class="users5 screen " data-id="15:412"><img class="create_step5-3-KAqyM5" data-id="15:413"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/create-step5--3-.png"
    alt="create_step5 (3)"><img class="doc2-KAqyM5" data-id="15:414"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/doc2-1@2x.png"
    alt="doc2"><a href="home"><img class="rectangle-1-KAqyM5" data-id="15:415"
      src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/rectangle-1.png"
      alt="Rectangle 1" data-hotspot-id="hp-0"></a><img class="mask-group-4-KAqyM5" data-id="15:433"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-7-KAqyM5" data-id="15:435"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/641bbca4e6fb3205cdfe66c1/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8-KAqyM5" data-id="15:437"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-8@2x.png"
    alt="Mask Group 8"><img class="mask-group-6-KAqyM5" data-id="15:438"
    src="https://cdn.animaapp.com/projects/641bb967d2a7af8e9d5b9873/releases/64211d8aa5b0e07148031fff/img/mask-group-6@2x.png"
    alt="Mask Group 6">
  <h1 class="text_label-KAqyM5 inter-normal-romance-28px" data-id="15:431">รายการส่งเอกสารและผู้รับ</h1>
</div>
