<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="login.component.scss">
</head>

<body>
  <div class="container">
    <div class="login screen " data-id="5:147"><img class="pexels-philippe-donn-1257860-b8DrbD" data-id="5:149"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/pexels-philippe-donn-1257860.png"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/pexels-philippe-donn-1257860.png"
        alt="pexels-philippe-donn-1257860">
      <div class="rectangle-4-b8DrbD" data-id="5:150"></div>
      <div class="rectangle-5-b8DrbD" data-id="5:151"></div><a href="home">
        <div class="group-11-b8DrbD" data-id="5:163">
          <div class="rectangle-3-Vlv11B" data-id="5:152"></div>
          <h1 class="text_label-Vlv11B text_label inter-normal-asphalt-28px" data-id="5:153">เข้าสู่ระบบ</h1>
        </div>
      </a><a href="register">
        <p class="dont-have-an-account-b8DrbD" data-id="5:154"><span class="span0-BpxMG7 inter-normal-white-18px">Don't
            have
            an account?</span><span class="span1-BpxMG7">&nbsp;</span><span
            class="span2-BpxMG7">Register<br></span><span class="span3-BpxMG7">Create by Latte</span></p>
      </a>
      <div class="remember-me-b8DrbD inter-normal-white-18px" data-id="5:155">Remember ME</div>
      <div class="group-10-b8DrbD" data-id="5:164">
        <div class="rectangle-2-AnuSU4 rectangle-2" data-id="5:156"></div>
        <div class="text_label-AnuSU4 text_label kanit-normal-asphalt-28px" data-id="5:157">ชื่อ</div>
      </div>
      <div class="group-12-b8DrbD" data-id="5:165">
        <div class="rectangle-2-rPKOnP rectangle-2" data-id="5:158"></div>
        <div class="x-rPKOnP kanit-normal-asphalt-28px" data-id="5:159">********</div>
      </div><img class="password-b8DrbD" data-id="5:160"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/password@2x.png"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/password@2x.png"
        alt="password"><img class="icon-user-b8DrbD" data-id="5:161"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2@2x.png"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2@2x.png"
        alt="icon-user"><img class="x272988803_2436772046-b8DrbD" data-id="5:162"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/272988803-243677204600124-424088864057774778-n@2x.png"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/272988803-243677204600124-424088864057774778-n@2x.png"
        alt="272988803_243677204600124_424088864057774778_n">
    </div>
  </div>

</body>

</html>
