<div class="menu-Cx8dt7" data-id="DdsvTCBd3IsS7DsM"><img class="path-113-xrCniB" data-id="1:508"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/path-113.svg"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/path-113.svg"
    alt="Path 113">
  <div class="component-1-1-xrCniB" data-id="1:511"><a href="admin1" onclick="window.event.stopPropagation()">
      <h1 class="x-bG97r1 kanit-normal-white-24px" data-id="I1:511;1:21">สั่งการ/เวียนทราบ</h1>
    </a></div>
  <div class="component-1-7-xrCniB" data-id="1:513"><a href="admin1" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:513;1:21">รายงานการใช้กระดาษ</div>
    </a></div>
  <div class="component-1-10-xrCniB" data-id="1:649"><a href="iphone-14-pro-2" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:649;1:21">ตั้งค่าผู้ใช้งาน</div>
    </a></div>
  <div class="component-1-11-xrCniB" data-id="1:651"><a href="login" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:651;1:21">ออกจากระบบ</div>
    </a></div><img class="exit-xrCniB" data-id="1:509"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/exit-1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/exit-1@2x.png"
    alt="exit"><img class="id-card-xrCniB" data-id="1:510"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/id-card@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/id-card@2x.png"
    alt="id-card">
  <div class="component-1-5-xrCniB" data-id="1:515"><a href="admin1" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:515;1:21">เอกสารขออนุมัติ</div>
    </a></div>
  <div class="component-1-6-xrCniB" data-id="1:517"><a href="admin1" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:517;1:21">เอกสารส่งออก</div>
    </a></div>
  <div class="component-1-8-xrCniB" data-id="1:519"><a href="admin1" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:519;1:21">เอกสารเวียนทราบ</div>
    </a></div>
  <div class="component-1-9-xrCniB" data-id="1:521"><a href="admin1" onclick="window.event.stopPropagation()">
      <div class="text_label kanit-normal-white-24px" data-id="I1:521;1:21">คลังเอกสาร</div>
    </a></div>
</div>
