<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="home">หน้าหลัก</a>
  <a href="#"><i class="fas fa-comment-medical fa-lg mr-2"></i>คลังเอกสาร</a>
  <a href="#">เอกสารเวียนทราบ</a>
  <a href="#">เอกสารส่งออก</a>
  <a href="#">เอกสารขออนุมัติ</a>
  <a href="admin1">สั่งการ/เวียนทราบ</a>
  <a href="#">รายงานการใช้กระดาษ</a>
  <a href="#">ตั้งค่าผู้ใช้งาน</a>
  <a href=".">ออกจากระบบ</a>
</div>

<div class="admin6 screen " data-id="1:39"><img class="rectangle-1-wTYrxP" data-id="1:40"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-4.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-4.png"
    alt="Rectangle 1">
  <img (click)="openNav()" class="mask-group-4-wTYrxP" data-id="1:67"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-6-wTYrxP" data-id="1:72"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="Mask Group 6"><a href="home"><img class="mask-group-7-wTYrxP" data-id="1:69"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
      alt="Mask Group 7"></a><img class="mask-group-8-wTYrxP" data-id="1:71"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="Mask Group 8"><img class="receiver-wTYrxP" data-id="1:55"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/receiver@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/receiver@2x.png"
    alt="receiver"><img class="create_step1-wTYrxP" data-id="1:56"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1-2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1-2@2x.png"
    alt="create_step1"><a href="admin5">
    <div class="group-29-wTYrxP" data-id="1:73">
      <div class="rectangle-180" data-id="1:57"></div>
      <div class="text_label-T5fbNw text_label inter-normal-white-20px" data-id="1:58">ก่อนหน้า</div>
    </div>
  </a><a href="admin7">
    <div class="group-30-wTYrxP" data-id="1:74">
      <!-- <div class="rectangle-180" data-id="1:59"></div> -->
      <div class="text_label-NlcjPZ text_label inter-normal-white-20px" data-id="1:60">ส่ง</div>
    </div>
  </a>
  <div class="ellipse-14-wTYrxP" data-id="1:61"></div>
  <div class="ellipse-15-wTYrxP" data-id="1:62"></div>
  <div class="ellipse-16-wTYrxP" data-id="1:63"></div>
  <div class="group-25-wTYrxP" data-id="1:75">
    <div class="rectangle-101-MkUBx0" data-id="1:64"></div>
    <div class="x2-MkUBx0 inter-normal-black-20px" data-id="1:65">ขั้นตอนที่ 2 : เลือกผู้รับปฏิบัติ</div>
  </div>
</div>
