<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="home">หน้าหลัก</a>
  <a href="#"><i class="fas fa-comment-medical fa-lg mr-2"></i>คลังเอกสาร</a>
  <a href="#">เอกสารเวียนทราบ</a>
  <a href="#">เอกสารส่งออก</a>
  <a href="#">เอกสารขออนุมัติ</a>
  <a href="admin1">สั่งการ/เวียนทราบ</a>
  <a href="#">รายงานการใช้กระดาษ</a>
  <a href="#">ตั้งค่าผู้ใช้งาน</a>
  <a href=".">ออกจากระบบ</a>
</div>

<div class="admin7 screen " data-imask-group-4-wTYrxPd="1:138"><a href="home"><img class="rectangle-1-hxgLoP"
      data-id="1:139"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-11.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-11.png"
      alt="Rectangle 1"></a>
  <img (click)="openNav()" class="mask-group-4-hxgLoP" data-id="1:164"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-6-hxgLoP" data-id="1:169"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="Mask Group 6"><img class="mask-group-7-hxgLoP" data-id="1:166"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8-hxgLoP" data-id="1:168"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="Mask Group 8">
  <div class="ellipse-15-hxgLoP" data-id="1:154"></div>
  <div class="ellipse-16-hxgLoP" data-id="1:155"></div>
  <div class="ellipse-14-hxgLoP" data-id="1:156"></div>
  <div class="ellipse-17-hxgLoP" data-id="1:157"></div>
  <div class="rectangle-190-hxgLoP" data-id="1:159"></div>
  <h1 class="text_label-hxgLoP" data-id="1:160">รายการส่งเอกสารและผู้รับ</h1>
  <div class="group-25-hxgLoP" data-id="1:170">
    <div class="rectangle-101-As0CUd" data-id="1:161"></div>
    <div class="x3-As0CUd inter-normal-black-20px" data-id="1:162">ขั้นตอนที่ 3 : ตรวจสอบรายการส่ง</div>
  </div>
</div>
