<div class="admin3 screen " data-id="1:458"><img class="icon-mail-S4NvyW icon-mail" data-id="1:503"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="icon-mail"><img class="mask-group-8" data-id="1:505"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="Mask Group 8"><img class="mask-group-6" data-id="1:506"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="Mask Group 6"><a href="admin4">
    <div class="group-29-S4NvyW" data-id="1:507">
      <div class="rectangle-180-Jx7Jhi rectangle-180" data-id="1:469"></div>
      <div class="preview-Jx7Jhi inter-normal-white-20px" data-id="1:470">Preview</div>
    </div>
  </a><a href="admin5">
    <div class="group-30-S4NvyW" data-id="1:508">
      <div class="rectangle-180-8ikxid rectangle-180" data-id="1:471"></div>
      <div class="icon-mail-8ikxid icon-mail inter-normal-white-20px" data-id="1:472">ถัดไป</div>
    </div>
  </a>
  <div class="icon-notifications-S4NvyW" data-id="1:473"></div><img class="create_step1-S4NvyW" data-id="1:474"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1@2x.png"
    alt="create_step1">
  <div class="group-28-S4NvyW" data-id="1:510">
    <div class="group-27-RAkGaV" data-id="1:509">
      <div class="ellipse-9-e1cfpm" data-id="1:476"></div>
    </div><img class="line-2-RAkGaV" data-id="1:477"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-2.svg"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-2.svg"
      alt="Line 2"><img class="line-3-RAkGaV" data-id="1:478"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-3.svg"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-3.svg"
      alt="Line 3">
  </div>
  <div class="x63pdf-S4NvyW" data-id="1:479">การแต่งกายประจำเดือน ก.ค.63.pdf</div><img class="pdf_icon-S4NvyW"
    data-id="1:480"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/pdf-icon@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/pdf-icon@2x.png"
    alt="pdf_icon"><img class="rectangle-1-S4NvyW" data-id="1:481"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-1.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-1.png"
    alt="Rectangle 1"><img class="mask-group-6" data-id="1:517"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="Mask Group 6"><img class="mask-group-4-S4NvyW" data-id="1:512"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-7-S4NvyW" data-id="1:514"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8" data-id="1:516"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="Mask Group 8">
  <div class="group-24-S4NvyW" data-id="1:518">
    <div class="rectangle-101-hzHVcd" data-id="1:496"></div>
    <div class="x1-hzHVcd inter-normal-white-20px" data-id="1:497">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
  </div>
  <div class="ellipse-15-S4NvyW" data-id="1:498"></div>
  <div class="ellipse-16-S4NvyW" data-id="1:499"></div>
  <div class="ellipse-14-S4NvyW" data-id="1:500"></div>
  <div class="ellipse-17-S4NvyW" data-id="1:501"></div>
</div>
