<div class="admin2 screen " data-id="5:358">
  <div class="component-12-pK6JTh" data-id="5:36"><a href="admin3"><img class="path-112-4lzrhS" data-id="5:18"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/path-112.svg"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/path-112.svg"
        alt="Path 112"></a></div><a href="home"><img class="rectangle-1-pK6JTh" data-id="5:359"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/rectangle-1-1.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/rectangle-1-1.png"
      alt="Rectangle 1"></a><a onclick="ShowOverlay('menu', 'animate-appear');"><img class="mask-group-4-pK6JTh"
      data-id="5:385"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
      alt="Mask Group 4"></a><img class="icon-notifications-pK6JTh" data-id="5:390"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="icon-notifications"><img class="mask-group-7-pK6JTh" data-id="5:387"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="pdf-pK6JTh" data-id="5:376"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/pdf.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/pdf.png"
    alt="pdf"><img class="icon-mail-pK6JTh" data-id="5:389"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="icon-mail">
  <h1 class="text_label-pK6JTh" data-id="5:377">เปิด</h1>
  <div class="group-24-pK6JTh" data-id="5:391">
    <div class="rectangle-101-pzKAxc" data-id="5:378"></div>
    <div class="x1-pzKAxc inter-normal-white-20px" data-id="5:379">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
  </div>
  <div class="ellipse-15-pK6JTh" data-id="5:380"></div>
  <div class="ellipse-16-pK6JTh" data-id="5:381"></div>
  <div class="ellipse-14-pK6JTh" data-id="5:382"></div>
  <div class="ellipse-17-pK6JTh" data-id="5:383"></div>
</div>
