<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="home">หน้าหลัก</a>
  <a href="#"><i class="fas fa-comment-medical fa-lg mr-2"></i>คลังเอกสาร</a>
  <a href="#">เอกสารเวียนทราบ</a>
  <a href="#">เอกสารส่งออก</a>
  <a href="#">เอกสารขออนุมัติ</a>
  <a href="admin1">สั่งการ/เวียนทราบ</a>
  <a href="#">รายงานการใช้กระดาษ</a>
  <a href="#">ตั้งค่าผู้ใช้งาน</a>
  <a href=".">ออกจากระบบ</a>
</div>


<div class="admin2 screen " data-id="5:358">
  <a href="admin3"></a><a href="home">
    <img class="rectangle-1-pK6JTh" data-id="5:359"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/rectangle-1-1.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/rectangle-1-1.png"
      alt="Rectangle 1"></a>
  <img (click)="openNav()" class="mask-group-4-pK6JTh" data-id="5:385"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="icon-notifications-pK6JTh" data-id="5:390"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="icon-notifications"><img class="mask-group-7-pK6JTh" data-id="5:387"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="pdf-pK6JTh" data-id="5:376"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/pdf.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/pdf.png"
    alt="pdf"><img class="icon-mail-pK6JTh" data-id="5:389"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="icon-mail">
  <a href="admin3">
    <h1 class="text_label-pK6JTh" data-id="5:377">เปิด</h1>
  </a>
  <div class="group-24-pK6JTh" data-id="5:391">
    <div class="rectangle-101-pzKAxc" data-id="5:378"></div>
    <div class="x1-pzKAxc inter-normal-white-20px" data-id="5:379">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
  </div>
  <div class="ellipse-15-pK6JTh" data-id="5:380"></div>
  <div class="ellipse-16-pK6JTh" data-id="5:381"></div>
  <div class="ellipse-14-pK6JTh" data-id="5:382"></div>
  <div class="ellipse-17-pK6JTh" data-id="5:383"></div>
</div>
