<div class="admin5 screen " data-id="10:497"><img class="rectangle-1-FgqcZh" data-id="10:498"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-4.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641d444317418295c14b37c7/img/rectangle-1-4.png"
    alt="Rectangle 1"><img class="mask-group-4-FgqcZh" data-id="10:531"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="icon-notifications-FgqcZh" data-id="10:536"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-6@2x.png"
    alt="icon-notifications"><img class="mask-group-7-FgqcZh" data-id="10:533"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="icon-mail-FgqcZh" data-id="10:535"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/mask-group-8@2x.png"
    alt="icon-mail"><img class="create_step1-FgqcZh create_step1" data-id="10:513"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1@2x.png"
    alt="create_step1"><a href="iphone-14-pro-10">
    <div class="group-28-FgqcZh" data-id="10:538">
      <div class="group-27-mkSNV3" data-id="10:537">
        <div class="ellipse-9-EhTNDL" data-id="10:515"></div>
      </div><img class="line-2-mkSNV3" data-id="10:516"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-2.svg"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-2.svg"
        alt="Line 2"><img class="line-3-mkSNV3" data-id="10:517"
        src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-3.svg"
        anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/line-3.svg"
        alt="Line 3">
    </div>
  </a><img class="create_step1-lbeOAE create_step1" data-id="10:518"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1-2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc01316866ff49c2b0a5a/img/create-step1-2@2x.png"
    alt="create_step1">
  <div class="group-25-FgqcZh" data-id="10:539">
    <div class="rectangle-101-DWYQ3t" data-id="10:519"></div>
    <div class="x2-DWYQ3t inter-normal-black-20px" data-id="10:520">ขั้นตอนที่ 2 : เลือกผู้รับปฏิบัติ</div>
  </div>
  <div class="rectangle-162-FgqcZh" data-id="10:521"></div>
  <h1 class="x-FgqcZh" data-id="10:522">ผู้รับทราบ-รับปฏิบัติ</h1><a href="admin3">
    <div class="group-29-FgqcZh" data-id="10:540">
      <div class="rectangle-180" data-id="10:523"></div>
      <div class="text_label-fPk94v text_label" data-id="10:524">ก่อนหน้า</div>
    </div>
  </a>

  <a href="admin6">
    <div class="group-30-FgqcZh" data-id="10:541">
      <div class="rectangle-180" data-id="10:525"></div>
      <div class="text_label-BvNSGK text_label " data-id="10:526">ถัดไป</div>
    </div>
  </a>
  <div class="ellipse-15-FgqcZh" data-id="10:527"></div>
  <div class="ellipse-14-FgqcZh" data-id="10:528"></div>
  <div class="ellipse-16-FgqcZh" data-id="10:529"></div>

  <form style="position: absolute; opacity: 1; top: 350px; left: 50px; text-align: center; " [formGroup]="myForm"
    (ngSubmit)="submit()">
    <select multiple formControlName="userSelected" style=" width: 350px; height:50px;">
      <option *ngFor="let user of userList; index as i; first as isFirst" [ngValue]="user">{{i+1}}.{{user.firstname}}
      </option>
    </select>
    <br>
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
