<div class="users2 screen " data-id="1:108"><a href="home"><img class="rectangle-1-09ViHO" data-id="1:109"
      src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/rectangle-1-3.png"
      anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/rectangle-1-3.png"
      alt="Rectangle 1"></a><img class="mask-group-4-09ViHO" data-id="1:132"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-7-09ViHO" data-id="1:134"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8-09ViHO" data-id="1:136"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/mask-group-8@2x.png"
    alt="Mask Group 8"><img class="mask-group-6-09ViHO" data-id="1:137"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/mask-group-6@2x.png"
    alt="Mask Group 6">
  <h1 class="text_label-09ViHO text_label inter-normal-romance-28px" data-id="1:125">รายการส่งเอกสารและผู้รับ</h1><img
    class="create_step5-3-09ViHO" data-id="1:126"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/create-step5--3-.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/642115dc29cf53ca65df7eca/img/create-step5--3-.png"
    alt="create_step5 (3)">
  <div class="rectangle-155-09ViHO" data-id="1:127"></div>
  <div class="text_label-bX5j24 text_label" data-id="1:128">แจ้งเตือนการแต่งกาย</div><a href="users3">
    <div class="rectangle-186-09ViHO" data-id="1:129"></div>
  </a>
  <div class="text_label-hYTZtN text_label" data-id="1:130"> เปิด</div>
</div>
