<div class="home screen " data-id="5:166"><img class="meadow-gd08794248_1280-xl4bh6" data-id="5:167"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/meadow-gd08794248-1280.png"
    alt="meadow-gd08794248_1280">
  <div class="rectangle-8-xl4bh6" data-id="5:168"></div>
  <img class="house-xl4bh6" data-id="5:169"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/house@2x.png"
    alt="house"><a onclick="ShowOverlay('iphone-14-pro-12', 'animate-appear');">
    <img class="newspaper-xl4bh6" data-id="5:170"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/newspaper@2x.png"
      alt="newspaper"></a><img class="news-xl4bh6" data-id="5:171"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/news@2x.png"
    alt="news"><a href="register"><img class="exit-xl4bh6" data-id="5:172"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/exit@2x.png"
      alt="exit" data-hotspot-id="hp-0"></a>
  <div class="bg-head-xl4bh6" data-id="5:173"></div><img class="list" data-id="5:174"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/list@2x.png"
    alt="list"><a onclick="ShowOverlay('menu', 'animate-appear');"><img class="list-efo9xP list" data-id="5:175"
      src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/list@2x.png"
      alt="list"></a>
  <h1 class="my-website-xl4bh6" data-id="5:176">MY WEBSITE</h1>
  <div class="my-websiteby-latte-xl4bh6" data-id="5:177">My Website<br>By Student2023</div><img class="logo-eng-xl4bh6"
    data-id="5:178"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc62958bf9945b46827bd/img/logo-eng@2x.png"
    alt="LOGO Eng">
</div>
