@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400|Kanit:400");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/641bb9a4a313ddb7c65285fa.641bb9a6e6fb3205cdfe66b9.LAExMVh.hch.png");


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root { 
  --alloy-orange: #c56609;
  --asphalt: #160b0b;
  --astral: #2f84a4;
  --black: #000000;
  --blue-dianne: #214f61;
  --blue-whale: #05314e;
  --dove-gray: #707070;
  --fantasy: #f9f2f2;
  --gray-nurse: #eaecec;
  --mosque: #047267;
  --porcelain: #eff1f6;
  --romance: #fffcfc;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 30px;
  --font-size-xxxxxl: 40px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-kanit: "Kanit", Helvetica;
}
.inter-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.kanit-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.kanit-normal-mosque-24px {
  color: var(--mosque);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-asphalt-28px {
  color: var(--asphalt);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.kanit-normal-asphalt-28px {
  color: var(--asphalt);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-romance-28px {
  color: var(--romance);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

:root {
}


.rectangle-180 {
  background-color: var(--blue-whale);
  height: 31px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 87px;
}
/* screen - home */

.home {
  background-color: transparent;
  border: 1px none;
  cursor: pointer;
  height: 932px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 430px;
}

.home .meadow-gd08794248_1280-xl4bh6 {
  background-color: transparent;
  height: 932px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 430px;
}

.home .rectangle-8-xl4bh6 {
  background-color: #031726;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 829px;
  width: 430px;
}

.home .house-xl4bh6 {
  background-color: transparent;
  height: 62px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 848px;
  width: 72px;
}

.home .newspaper-xl4bh6 {
  background-color: transparent;
  cursor: pointer;
  height: 63px;
  left: 126px;
  mix-blend-mode: normal;
  position: absolute;
  top: 848px;
  width: 73px;
}

.home .news-xl4bh6 {
  background-color: transparent;
  height: 62px;
  left: 232px;
  mix-blend-mode: normal;
  position: absolute;
  top: 848px;
  width: 71px;
}

.home .exit-xl4bh6 {
  background-color: transparent;
  height: 62px;
  left: 339px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 848px;
  width: 72px;
}

.home .bg-head-xl4bh6 {
  background-color: #d58332;
  border: 1px solid;
  border-color: var(--white);
  height: 90px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 430px;
}

.home .list-efo9xP {
  cursor: pointer;
}

.home .my-website-xl4bh6 {
  background-color: transparent;
  color: #0c175b;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 2px 5px 2.5px #00000029;
  top: 19px;
  width: 258px;
}

.home .my-websiteby-latte-xl4bh6 {
  -webkit-text-stroke: 1px var(--white);
  margin-left : 5.5rem;
  text-align: center;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 3px #00000029;
  top: 595px;
  width: 218px;
}

.home .logo-eng-xl4bh6 {
  background-color: transparent;
  height: 228px;
  left: 101px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 228px;
}

.home .list {
  background-color: transparent;
  height: 46px;
  left: 15px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 46px;
}

/* screen - menu */

.menu {
  background-color: transparent;
  border: 1px none;
  cursor: pointer;
  height: 932px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 430px;
}

#overlay-menu {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.menu .menu-Cx8dt7 {
  background-color: transparent;
  height: 932px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 430px;
}

.menu .path-113-xrCniB {
  background-color: transparent;
  height: 787px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20px;
  width: 378px;
}

.menu .component-1-1-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 38px;
  mix-blend-mode: normal;
  position: absolute;
  top: 353px;
  width: 227px;
}

.menu .x-bG97r1 {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -2px;
  width: 227px;
}

.menu .component-1-7-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 38px;
  mix-blend-mode: normal;
  position: absolute;
  top: 405px;
  width: 227px;
}

.menu .component-1-10-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 88px;
  mix-blend-mode: normal;
  position: absolute;
  top: 456px;
  width: 227px;
}

.menu .component-1-11-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 88px;
  mix-blend-mode: normal;
  position: absolute;
  top: 502px;
  width: 227px;
}

.menu .exit-xrCniB {
  background-color: transparent;
  height: 36px;
  left: 40px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 502px;
  width: 36px;
}

.menu .id-card-xrCniB {
  background-color: transparent;
  height: 37px;
  left: 38px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 455px;
  width: 37px;
}

.menu .component-1-5-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 38px;
  mix-blend-mode: normal;
  position: absolute;
  top: 301px;
  width: 227px;
}

.menu .component-1-6-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 38px;
  mix-blend-mode: normal;
  position: absolute;
  top: 249px;
  width: 227px;
}

.menu .component-1-8-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 40px;
  mix-blend-mode: normal;
  position: absolute;
  top: 197px;
  width: 227px;
}

.menu .component-1-9-xrCniB {
  background-color: transparent;
  height: 35px;
  left: 40px;
  mix-blend-mode: normal;
  position: absolute;
  top: 145px;
  width: 227px;
}

.menu .text_label {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -2px;
  width: 227px;
}

/* screen - iphone-14-pro-12 */

.iphone-14-pro-12 {
  background-color: transparent;
  border: 1px none;
  cursor: pointer;
  height: 932px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 430px;
}

#overlay-iphone-14-pro-12 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.iphone-14-pro-12 .i-phone-14-pro-12-TDn9Gw {
  background-color: transparent;
  height: 932px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 430px;
}

.iphone-14-pro-12 .rectangle-1-yoxXcI {
  background-color: transparent;
  cursor: pointer;
  height: 85px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 418px;
}

.iphone-14-pro-12 .mask-group-4-yoxXcI {
  background-color: transparent;
  cursor: pointer;
  height: 52px;
  left: 18px;
  position: absolute;
  top: 17px;
  width: 52px;
}

.iphone-14-pro-12 .mask-group-7-yoxXcI {
  background-color: transparent;
  height: 40px;
  left: 362px;
  position: absolute;
  top: 23px;
  width: 40px;
}

.iphone-14-pro-12 .mask-group-8-yoxXcI {
  background-color: transparent;
  height: 40px;
  left: 294px;
  position: absolute;
  top: 23px;
  width: 40px;
}

.iphone-14-pro-12 .mask-group-6-yoxXcI {
  background-color: transparent;
  height: 40px;
  left: 233px;
  position: absolute;
  top: 24px;
  width: 33px;
}

.iphone-14-pro-12 .group-47-yoxXcI {
  background-color: transparent;
  cursor: pointer;
  height: 154px;
  left: 9px;
  position: absolute;
  top: 85px;
  width: 421px;
}

.iphone-14-pro-12 .group-46-37jfdX {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 425px;
}

.iphone-14-pro-12 .rectangle-183-mbYH4L {
  background-color: var(--white);
  box-shadow: 0px 5px 9px #189487f0;
  height: 154px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 421px;
}

.iphone-14-pro-12 .text_label-mbYH4L {
  -webkit-text-stroke: 1px var(--astral);
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-kanit);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  width: auto;
}

.iphone-14-pro-12 .x-mbYH4L {
  -webkit-text-stroke: 1px var(--astral);
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.iphone-14-pro-12 .icons8-user-60-yoxXcI {
  background-color: transparent;
  height: 48px;
  left: 9px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 48px;
}

a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(61, 197, 251);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(94, 90, 90);
  background-color: transparent;
  text-decoration: underline;
}

