<div class="register screen " data-id="5:291"><img class="pexels-philippe-donn-1257860-Qolay1" data-id="5:292"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/pexels-philippe-donn-1257860-1.png"
    alt="pexels-philippe-donn-1257860">
  <div class="rectangle-2-Qolay1 rectangle-2" data-id="5:293"></div><img class="icon-user-Qolay1 icon-user"
    data-id="5:294"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2-1@2x.png"
    alt="icon-user">
  <div class="text_label-Qolay1 text_label kanit-normal-asphalt-28px" data-id="5:295">ชื่อ</div>
  <div class="rectangle-2-SVfk6o rectangle-2" data-id="5:296"></div><img class="icon-user-SVfk6o icon-user"
    data-id="5:297"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2-1@2x.png"
    alt="icon-user">
  <h1 class="text_label-SVfk6o text_label kanit-normal-asphalt-28px" data-id="5:298">นามสกุล</h1>
  <div class="rectangle-2-8KUxSO rectangle-2" data-id="5:299"></div><img class="icon-user-8KUxSO icon-user"
    data-id="5:300"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2-1@2x.png"
    alt="icon-user">
  <div class="text_label-8KUxSO text_label kanit-normal-asphalt-28px" data-id="5:301">เลขประจำตัวทหาร</div>
  <div class="rectangle-2-2Fyk8H rectangle-2" data-id="5:302"></div><img class="icon-user-2Fyk8H icon-user"
    data-id="5:303"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2-1@2x.png"
    alt="icon-user">
  <div class="rtarfmith-Qolay1 inter-normal-asphalt-28px" data-id="5:304">@rtarf.mi.th</div>
  <div class="rectangle-2-wcwcUJ rectangle-2" data-id="5:305"></div><img class="icon-user-wcwcUJ icon-user"
    data-id="5:306"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/user2-1@2x.png"
    alt="icon-user">
  <div class="password-Qolay1 inter-normal-asphalt-28px" data-id="5:307">Password</div><a href="login">
    <div class="group-11-Qolay1" data-id="5:312" data-hotspot-id="hp-0">
      <div class="rectangle-3-xxnOlO" data-id="5:308"></div>
      <div class="register-xxnOlO inter-normal-asphalt-28px" data-id="5:309">Register</div>
    </div>
  </a><a href="login">
    <p class="have-an-account-logincreate-by-latte-Qolay1" data-id="5:310" data-hotspot-id="hp-1"><span
        class="span0-MYnqHe inter-normal-white-18px">Have an account?</span><span
        class="span1-MYnqHe">&nbsp;</span><span class="span2-MYnqHe">Login<br></span><span class="span3-MYnqHe">Create
        by Latte</span></p>
  </a><img class="logo-eng-Qolay1" data-id="5:311"
    src="https://cdn.animaapp.com/projects/641bb9a6a313ddb7c65285fd/releases/641bc8654a76e2d4ea229ae1/img/logo-eng-1@2x.png"
    alt="LOGO Eng">
</div>
